*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fundo{
    position: relative;
    width: 100%;
    height: 20vh ;
    background-color: rgb(0, 0, 0);
}

#segundo{
    display: inline-block;
    color: white;
    padding: 15px;
    background-color: orange;
    border-radius: 10px;
    margin-top: 0.6%;
    font-size:1cm;
}
#min{
    display: inline-block;
    color: white;
    padding: 15px;
    background-color: orange;
    border-radius: 10px;
    font-size:1cm;
}
    
#hora{
    display: inline-block;
    color: white;
    margin-left: 41.8% ;
    padding: 15px;
    background-color: orange;
    border-radius: 10px;
    font-size:1cm;
}
#textSegundo{
    position:absolute;
    color:white;
    font-size:large;
    margin-left: 53.51%;
}
#textMin{
    position:absolute;
    color: white;
    font-size:large;
    margin-left: 48.1%;
    bottom: 25px;
}
#textHora{
    position: absolute;
    color: white;
    font-size:large;
    margin-left: 43%;
}
